* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: green;
  text-align: center;
  color: whitesmoke;
  width: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header h1 {
  margin: 10px;
  font-size: 2.5rem;
}

header p {
  margin: 10px;
  font-size: 1.2rem;
}

main {
  width: 100%;
  padding-top: 150px;
  /*to avoid overlapping the fixed header */
  padding-bottom: 70px;
  /* To avoid overlapping the fixed footer */
  height: 100%;
}

#search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem 1rem;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: green;
  border: none;
  color: white;
  border-radius: 7px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  color: green;
}

#movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}


.movie-card {
  width: 100%;
  max-width: 250px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #777272;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card img {
  max-width: 100%;
  border-radius: 8px;
}

.movie-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 150px 20px 70px 20px;
  background-color: #f8f8f8;
  color: #333;
  justify-content: center;
  align-items: flex-start;
}

.movie-detail img {
  max-width: 300px;
  border-radius: 10px;
  flex-shrink: 0;
}

.movie-detail .movie-info {
  max-width: 600px;
  flex: 1;
}

.movie-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.movie-detail p {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5;
}

#movie-list {
  width: 800px;
  margin: auto;
  padding: 20px;
}

/* span {
  font-family: 'Segoe UI';
  font-weight: 600;
  font-size: 1.4rem;
} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  text-align: center;
  background-color: green;
  color: whitesmoke;
}